<div>
<div align="center" style="color:#0000FF;">
  <h2 style="font-size: 3em;">  <fontface="franklin"> ONLINE RESUME </font> </h2>
</div>
<div>
  <marquee behavior="alternate" direction="left">
    <h2 style="color:green;"><strong><%= t(:makeyourbestresume, :default => 'Turn your Passion into your Job') %></strong></h2>
  </marquee>
</div>
<div>
  <h1 style="color:red;"> Welcome <strong> <i> <%= current_user.email %></h1>
</div>
<center>
  <img src="https://targetcareers.co.uk/sites/targetcareers.co.uk/files/public/field/image/Crack-the-school-leaver-programme-online-application-form_0.jpg" alt="This is a Online Resume Application" height="400" width="500">
</center>
</div>
